@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');

#theDate {
    font-size:50px;
    position: absolute;
    top: 1060px;
    left: 370px;
    padding: 10px;
    border-radius: 5px;
}

#theDate1 {
    font-size:45px;
    position: absolute;
    top: 2800px;
    left: 370px;
    padding: 10px;
    border-radius: 5px;
}

#theDate2 {
    font-size:50px;
    position: absolute;
    top: 4400px;
    left: 370px;
    padding: 10px;
    border-radius: 5px;
}

#nameOutput{
    font-family: 'Love Light', cursive;
    font-size:180px;
    position:absolute;
    top:720px;
    left:600px;
}

#name{
    font-size:50px;
}

#name1{
    font-size:50px;
}

#name2{
    font-size:50px;
}

#generate{
    font-size:50px;
    margin:10px;
}

#nameOutput1{
    top:2600px;
    font-size:200px;
    position:absolute;
    left:600px;
    font-family: 'Lovers Quarrel', cursive;
}